footer{
    margin-top: var(--container_margin_top);
    z-index: 3;
}

/*****************************************************************************************************************/
.footer__mobile-app{
    padding: 0 5% 0 12%;
    background-color:var(--grey_back) ;
    border: none;
    border-radius:0 22rem 22rem 0;
    -webkit-border-radius:0 22rem 22rem 0;
    -moz-border-radius:0 22rem 22rem 0;
    -ms-border-radius:0 22rem 22rem 0;
    -o-border-radius:0 22rem 22rem 0;
    margin-top: var(--container_margin_top);

    display: grid;
    grid-template-areas: "mob-img text";
    grid-column-gap: 1rem;
    margin-right: 10%;
}


.footer__mobile-app__img-mobile{
    grid-area: mob-img;
    margin-top: -3rem;

}


.footer__mobile-app__img-mobile img{
    height: 100%;
    width: auto;

}


.footer__mobile-app__text-and-title{
    grid-area: text;
    padding: 4rem 0;
    grid-row-gap: 0.75rem;
    
    display: grid;
    grid-template-areas: "mini_title" "main_title" "description" "down_app";
    grid-column-gap: 1rem;
    
}


.mobile-app__mini-title{
    grid-area: mini_title;
    font-family: "Poppins_M";
    font-size: 1.1rem;
    color: var(--grey_text_color);
    display: block;
}


.mobile-app__main-title{
    grid-area: main_title;
    font-family: "Poppins_M";
    font-size: 3rem;
    color: var(--Red_theme_color);

}


.mobile-app__main-description{
    grid-area: description;

}


.mobile-app__main-description p{
    line-height: 1.5;
    font-family: "Poppins_Reg";
    font-size: 1rem;
    color: var(--black_text_color);
}


.mobile-app__download-app{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    grid-area: down_app;
    grid-column-gap: 1rem;
    align-items: center;
}


.mobile-app__download-app__item-container{
    display: grid;
    background-color: var(--blackLight_text_color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 0.5rem 1rem;

    grid-template-areas:  "iconic mini" "iconic bolded";
    grid-row-gap: 0.3rem;
    grid-column-gap: 0.5rem;
    align-items: center;
    color: var(--white_text_color);
}
.download-app__item-container__icon{
    grid-area: iconic;
    display: grid;
    justify-content: center;
    align-items: center;
}
.download-app__item-container__miniText{
    grid-area: mini;
    font-family: "Poppins_L";
    font-size: 0.7rem;
}
.download-app__item-container__BoldText{
    grid-area: bolded;
    font-family: "Poppins_M";
    font-size: 1rem;
}

/*****************************************************************************************************************/
.footer__location-input{
    background-color: var(--black_text_color);
    margin: 0 7%;
    padding: 6.5% 10.3%;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: var(--container_margin_top);

    display: grid;
    grid-template-areas: "main_title" "description" "form_loc";
    grid-row-gap: 1.2rem;

    position: relative;
    overflow: hidden;
    grid-template-columns: 100%;
}


.footer__location-input__main-title{
    text-align: center;

    grid-area: main_title;
    font-family: "Poppins_M";
    font-size: 3rem;
    color: #FFFDE6;

}

.footer__location-input__description{
    grid-area: description;
}

.footer__location-input__description p{
    text-align: center;
    font-family: "Poppins_Reg";
    font-size: 1rem;
    color: var(--grey_back);
}


.footer__location-input__type-location{
    grid-area: form_loc;
    border-radius: var(--border_radius_btn);
    -webkit-border-radius: var(--border_radius_btn);
    -moz-border-radius: var(--border_radius_btn);
    -ms-border-radius: var(--border_radius_btn);
    -o-border-radius: var(--border_radius_btn);
    background-color:var(--Yellow_theme_color);
    border: 1px solid transparent;

    margin: 0 20%;
    padding: 0.3rem 0.3rem 0.3rem 0.7rem;
    z-index: 4;

    display: grid;
    grid-template-areas: "input_box btn_box";
    grid-template-columns: auto max-content;
}


.__input-text{
    grid-area: input_box;
    border: none;
    background-color:var(--Yellow_theme_color);
    outline: none;
    background-color: transparent;
    font-family: "Poppins_Reg";
    font-size: 1rem;
    color: var(--black_text_color);
    
}
.__input-text::placeholder{
    font-family: "Poppins_Reg";
    font-size: 1rem;
    color: var(--blackLight_text_color);
    opacity: 0.7;
}


.__btn_reset{
    grid-area: btn_box;
    font-family: "Poppins_M";
    font-size: 1rem;
    color: var(--black_text_color);

    border-radius: var(--border_radius_btn);
    -webkit-border-radius: var(--border_radius_btn);
    -moz-border-radius: var(--border_radius_btn);
    -ms-border-radius: var(--border_radius_btn);
    -o-border-radius: var(--border_radius_btn);
    background-color: #FFEAE6;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    z-index: 99;
    position: relative;
}

.map_icon_absTo_resetBtn{
    position: absolute;
    /* background-color: blue; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: var(--border_radius_btn);
    z-index: -1;
    padding: 0.25rem 0;

}
.map_icon_absTo_resetBtn path{
    fill: #FFEAE6;
}

.footer__location-input__img-abs{
    position: absolute;
    height: fit-content;
    width: fit-content;

}

.footer__location-input_img-tag{
    height: auto;
    width: 100%;
}

.footer__location-input__img--salad{
    left:  0;
    width: 14vw ;
    top: 0%;
    height: auto;
    transform: translateX(-10%) translateY(-20%);
    -webkit-transform: translateX(-10%) translateY(-20%);
    -moz-transform: translateX(-10%) translateY(-20%);
    -ms-transform: translateX(-10%) translateY(-20%);
    -o-transform: translateX(-10%) translateY(-20%);
}
.footer__location-input__img--hamber{
    bottom: 0;
    width: 15vw;
    height: auto;
    right: 0;
    transform:    translateX(20%) translateY(5%);
    -webkit-transform:    translateX(20%) translateY(5%);
    -moz-transform:    translateX(20%) translateY(5%);
    -ms-transform:    translateX(20%) translateY(5%);
    -o-transform:    translateX(20%) translateY(5%);
}



/*****************************************************************************************************************/
.footer-footer-nav-container{
    background-color: #FFFDE6;
    padding: 2.5rem 12vw 5px;
    margin-top: var(--container_margin_top);

    display: grid;
    grid-template-areas: "mac navL" "cp_right cp_right";
    justify-content: start;
    grid-column-gap: var(--footer_bottom_gapC);
    grid-row-gap: 2rem;
    
    

}



/*****************************************************************************************************************/
.footer-nav-container__title-wrapper{
    grid-area: mac;
    display: grid;
    grid-template-areas: "imgTitle" "socContainer";
    grid-row-gap: 1rem;
    align-content: center;
}


.footer-footer-nav-container__img_and_title{
    grid-area: imgTitle;
    display: grid;
    grid-template-columns: auto 1fr;
    align-self: center;
    grid-column-gap: 1rem;
    align-items: center;
}


.footer-nav-container__img-title__img{
    display: block;
    background-color: var(--Red_theme_color);
    width: fit-content;
    height: fit-content;
    padding: 20px 18px;

}


.footer-nav-container__img-title__title{


}


.footer-nav-container__img-title__title h3{
    font-size: 2rem;
    font-family: "Poppins_SemiB";
    color:var(--black_text_color);
    text-align: center;
    width: max-content;
}



/*****************************************************************************************************************/
.footer-footer-nav-container__social-nav{
    grid-area: socContainer;
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center; 
    grid-column-gap: 1.5rem;
}


.__social-nav__items{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}



/*****************************************************************************************************************/
.footer-navLinks-wrapper{
    grid-area: navL;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: var(--footer_bottom_gapC);
    justify-content: start;
    align-items: center;
    grid-row-gap: 1.5rem;
    
}


.__nav-footer-container__title{
    font-size: 1.2rem;
    font-family: "Poppins_M";
    color: var(--black_text_color);
    margin-bottom: 1rem;
    width: max-content;
}
.__nav-footer-container__nav-text{

    position: relative;
}

.__nav-footer-container__nav-text a{
    font-size: 1rem;
    font-family: "Poppins_L";
    color: var(--black_text_color);
    display: inline-block;
    line-height: 1.5;
}

.__nav-footer-container__nav-text:nth-last-child(1),.__nav-footer-container__nav-text:nth-last-child(2){
    grid-column-start: 1;
    grid-column-end: 2;
}   

/*****************************************************************************************************************/


.__nav-footer-container__nav-text--abs-icon path{
    fill: var(--Yellow_theme_color);
}
.__nav-footer-container__nav-text--abs-icon{
    display: grid;
    justify-content: center;
    align-items: center;
}
.map_icon_absTo_resetBtn path{
    fill:#FFEAE6;
}

.copy_right_text{
    grid-area: cp_right;
    display: grid;
    justify-content: left;
    align-items: center;

}
.copy_right_text a{
    font-size: 0.8rem;
    color: var(--Yellow_theme_color);
    opacity: 0.4;
    font-family: "Poppins_SemiB";
    transition: all 200ms ease 10ms;
    -webkit-transition: all 200ms ease 10ms;
    -moz-transition: all 200ms ease 10ms;
    -ms-transition: all 200ms ease 10ms;
    -o-transition: all 200ms ease 10ms;
    text-decoration: underline;
    text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}
.copy_right_text a:hover{
    color: var(--Red_theme_color);
    opacity:1;
    text-decoration-color: var(--Red_theme_color);
    -moz-text-decoration-color: var(--Red_theme_color);
}