:root{
    --backGround_color : #FFFEF9;
    --Red_theme_color : #C90000;
    --Yellow_theme_color : #FFC300;
    --yellow_undeline : #FFF6A3;
    --grey_text_color : #7D7C7C;
    --white_text_color : #FFFFFF;
    --blackLight_text_color : #504F4F;
    --black_text_color : #323232;
    --Yellow_border : #FFF6A3;
    --footer_back : #FFFDE6;
    --border_radius_btn : 100px;
    --default_line_height : 1.5;
    --text_shadow :  0px 4px 4px rgba(0, 0, 0, 0.25);
    --btn_box_shadow : 0px 17px 17px rgba(112, 144 , 176, 0.2);
    --container-padding: 0.5rem 5rem;
    --grey_stroke : 1px solid #E3E3E3;
    --grey_back : #F1F1F1;
    --grey_light : #E3E3E3;
    --container_margin_top : 5rem;
    --footer_bottom_gapC : 9vw;
}
html{
    scroll-behavior: smooth;
}


*,*::after ,*::before{
    box-sizing: border-box;
}

body{
    font-family: "Poppins_Reg" , sans-serif;
    background-color: var(--backGround_color);
    overflow-x: hidden;

}

.red-title{
    font-size: 3rem;
    position: relative;
    font-family: "Poppins_SemiB";
    color : var(--Red_theme_color);
    display: inline;
    text-transform: capitalize;
}
/* .red-title::before{
    content: "";
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    height: 9px;
    background-color: var(--yellow_undeline);
    z-index: -1;
} */
.red-title_underLine{
    /* content: ""; */
    position: absolute;
    bottom: 0.7rem;
    left: 0;
    right: 0;
    /* height: 20%; */
    /* background-color: var(--yellow_undeline); */
    z-index: -1;
}
a{
    text-decoration: none;
    color: yellow;
}


@keyframes boxShad_border_IN {
    100%{
        border: 1px solid wheat;
        box-shadow: 0 0 20px white;
    }
}
@keyframes boxShad_border_OUT {
    100%{
        border: 1px solid transparent;
        box-shadow: 0 0 0 white;
    }
}


@keyframes _hover_mainLink_ENTER {
    
    100%{
         letter-spacing: initial; 
         opacity: 1 ;
    }

}


@keyframes _hover_mainLink_OUT {
 
    100%{
        letter-spacing: 50vw; 
        opacity: 0;
   }
}


@-webkit-keyframes bell_Ring {
    0% {
        -webkit-transform: rotate(-3deg);
                transform: rotate(-3deg);
    
    }

    100%{
        -webkit-transform: rotate(3deg);
                transform: rotate(3deg);
    }
}

@keyframes bell_Ring {
    0% {
        -webkit-transform: rotate(-3deg);
                transform: rotate(-3deg);
    
    }

    100%{
        -webkit-transform: rotate(3deg);
                transform: rotate(3deg);
    }
}

@keyframes fade_in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes bell_Ring {
    0% {
        transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
}

    100%{
                   transform: rotate(3deg);
                   -webkit-transform: rotate(3deg);
                   -moz-transform: rotate(3deg);
                   -ms-transform: rotate(3deg);
                   -o-transform: rotate(3deg);
}
}

@keyframes bell_Ring {
    0% {
                 transform: rotate(-3deg);
                 -webkit-transform: rotate(-3deg);
                 -moz-transform: rotate(-3deg);
                 -ms-transform: rotate(-3deg);
                 -o-transform: rotate(-3deg);
}

    100%{
                  transform: rotate(3deg);
                -webkit-transform: rotate(3deg);
                -moz-transform: rotate(3deg);
                -ms-transform: rotate(3deg);
                -o-transform: rotate(3deg);
}
}


@keyframes Doallr_In_Anim {

    100%{
        padding-left: 150%;
    }
}

@keyframes Doallr_Out_Anim {
    100%{
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}