:root{
    --backGround_color : #FFFEF9;
    --Red_theme_color : #C90000;
    --Yellow_theme_color : #FFC300;
    --grey_text_color : #7D7C7C;
    --white_text_color : #FFFFFF;
    --blackLight_text_color : #504F4F;
    --black_text_color : #323232;
    --Yellow_border : #FFF6A3;
    --footer_back : #FFFDE6;
    --border_radius_btn : 100px;
    --default_line_height : 1.5;
    --text_shadow :  0px 4px 4px rgba(0, 0, 0, 0.25);
    --btn_box_shadow : 0px 17px 17px rgba(112, 144 , 176, 0.2);
}


*,*::after ,*::before{
    box-sizing: border-box;
}

body{
    font-family: "Poppins_Reg" , sans-serif;
    background-color: var(--backGround_color);
}
