.header__navbtn-items{
    transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -webkit-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -moz-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -ms-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -o-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
}
.header__navbtn-Container a:nth-child(1):hover{
    background-color: var(--Red_theme_color);
    color: var(--white_text_color);
}
.header__navbtn-Container a:nth-child(2):hover{
    background-color: var(--Yellow_theme_color);
    color: var(--black_text_color);
}


.anim_Main-nav-btn__hover{
    --height-all: 150%;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: -1;
    /*default*/text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    word-spacing: 100px;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100vw;
    height: var(--height-all);
    position: absolute;
    cursor: default;
}

.Header_hover_mainLink_ENTER{
    animation: _hover_mainLink_ENTER 500ms ease-out 100ms 1 normal forwards;
    -webkit-animation: _hover_mainLink_ENTER 500ms ease-out 100ms 1 normal forwards;
}
.Header_hover_mainLink_OUT{
    animation: _hover_mainLink_OUT 500ms ease-in-out 0ms 1 normal forwards;
    -webkit-animation: _hover_mainLink_OUT 500ms ease-in-out 0ms 1 normal forwards;
}


.__MainOdernowBtn{
    transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -webkit-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -moz-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -ms-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -o-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
}
.__MainOdernowBtn>div:nth-child(2){
    transition: color 100ms ease-in 100ms;
    -webkit-transition: color 100ms ease-in 100ms;
    -moz-transition: color 100ms ease-in 100ms;
    -ms-transition: color 100ms ease-in 100ms;
    -o-transition: color 100ms ease-in 100ms;
}
.basket_icon path{
    transition: fill 100ms ease-in 100ms;
    -webkit-transition: fill 100ms ease-in 100ms;
    -moz-transition: fill 100ms ease-in 100ms;
    -ms-transition: fill 100ms ease-in 100ms;
    -o-transition: fill 100ms ease-in 100ms;
}

.__MainOdernowBtn:hover{
    background-color: black;

}
.__MainOdernowBtn:hover>div:nth-child(2){
    color: var(--Yellow_theme_color);

}
.__MainOdernowBtn:hover .basket_icon path{
    fill: var(--Yellow_theme_color);

}

.__plusCountOrder{
    transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -webkit-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -moz-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -ms-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -o-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
}
.__plusCountOrder:hover{
    background-color: #55DD33;
    box-shadow: -4px 2px 10px #55DD33;
}
.__plusCountOrder path{
    transition: stroke 150ms ease-in 100ms;
    -webkit-transition: stroke 150ms ease-in 100ms;
    -moz-transition: stroke 150ms ease-in 100ms;
    -ms-transition: stroke 150ms ease-in 100ms;
    -o-transition: stroke 150ms ease-in 100ms;
}
.__plusCountOrder:hover path{
    stroke:var(--white_text_color);
}



.__minussCountOrder{
    transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -webkit-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -moz-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -ms-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -o-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
}
.__minussCountOrder:hover{
    background-color: #eb1d1d;
    box-shadow: 4px 2px 10px #eb1d1d;

}

.__minussCountOrder path{
    transition: stroke 150ms ease-in 100ms;
    -webkit-transition: stroke 150ms ease-in 100ms;
    -moz-transition: stroke 150ms ease-in 100ms;
    -ms-transition: stroke 150ms ease-in 100ms;
    -o-transition: stroke 150ms ease-in 100ms;
}
.__minussCountOrder:hover path{
    stroke: var(--white_text_color);
}
.header_imgTitle:hover svg{
    animation: bell_Ring 100ms ease 110ms infinite alternate;
    -webkit-animation: bell_Ring 100ms ease 110ms infinite alternate;
}


.anim_menubar_ICON_in_top{
    animation: menuBar_ICON_in_top 1000ms ease 1  normal forwards;
    -webkit-animation: menuBar_ICON_in_top 1000ms ease 1  normal forwards;
}

.anim_menubar_ICON_in_middle_notmid{
    animation: menuBar_ICON_in_middle_notmid 800ms ease 1  normal forwards;
    -webkit-animation: menuBar_ICON_in_middle_notmid 800ms ease 1  normal forwards;
}

.anim_menubar_ICON_in_middle_mid{
    animation: menuBar_ICON_in_middle_mid 500ms ease 1  normal forwards;
    -webkit-animation: menuBar_ICON_in_middle_mid 500ms ease 1  normal forwards;
}

.anim_menubar_ICON_in_bottom{
    animation: menuBar_ICON_in_bottom 1000ms ease 1 normal forwards;
    -webkit-animation: menuBar_ICON_in_bottom 1000ms ease 1 normal forwards;
}

@keyframes menuBar_ICON_in_top {
    50%{
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
}
    100%{
        fill: var(--Yellow_theme_color);
        transform: translateY(3px);
        -webkit-transform: translateY(3px);
        -moz-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
}
}


@keyframes menuBar_ICON_in_middle_mid {

    100%{
        fill: var(--Red_theme_color);

}
}


@keyframes menuBar_ICON_in_middle_notmid {
    100%{
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
}
}

@keyframes menuBar_ICON_in_bottom {
    50%{
        transform: translateY(+5px);
        -webkit-transform: translateY(+5px);
        -moz-transform: translateY(+5px);
        -ms-transform: translateY(+5px);
        -o-transform: translateY(+5px);
}
    100%{
        fill: var(--Yellow_theme_color);

        transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
}
}

#menu_path_1{
    transition: transform 100ms ease 10ms;

    -webkit-transition: transform 100ms ease 10ms;
    -moz-transition: transform 100ms ease 10ms;
    -ms-transition: transform 100ms ease 10ms;
    -o-transition: transform 100ms ease 10ms;
}

.anim_menubar_ICON_out_top{
    animation: menuBar_ICON_out_top 1000ms ease 1  normal forwards;
    -webkit-animation: menuBar_ICON_out_top 1000ms ease 1  normal forwards;
}

.anim_menubar_ICON_out_middle_notmid{
    animation: menuBar_ICON_out_middle_notmid 800ms ease 1  normal forwards;
    -webkit-animation: menuBar_ICON_out_middle_notmid 800ms ease 1  normal forwards;
}

.anim_menubar_ICON_out_middle_mid{
    animation: menuBar_ICON_out_middle_mid 500ms ease 1  normal forwards;
    -webkit-animation: menuBar_ICON_out_middle_mid 500ms ease 1  normal forwards;
}

.anim_menubar_ICON_out_bottom{
    animation: menuBar_ICON_out_bottom 1000ms ease 1 normal forwards;
    -webkit-animation: menuBar_ICON_out_bottom 1000ms ease 1 normal forwards;
}

@keyframes menuBar_ICON_out_top {
    50%{
        transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
}
    100%{
        fill: var(--blackLight_text_color); 
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}

@keyframes menuBar_ICON_out_middle_mid {
    100%{
        fill: var(--blackLight_text_color);
}
}

@keyframes menuBar_ICON_out_middle_notmid {
    100%{
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
}
}

@keyframes menuBar_ICON_out_bottom {
    50%{
        transform: translateY(+5px);
        -webkit-transform: translateY(+5px);
        -moz-transform: translateY(+5px);
        -ms-transform: translateY(+5px);
        -o-transform: translateY(+5px);
}
    100%{
        fill: var(--blackLight_text_color); 
        transform: translateY(-0);
        -webkit-transform: translateY(-0);
        -moz-transform: translateY(-0);
        -ms-transform: translateY(-0);
        -o-transform: translateY(-0);
}
}


.anim_menubar_in{
    animation: animBoxIn 650ms ease 1 normal forwards;
    -webkit-animation: animBoxIn 650ms ease 1 normal forwards;
}

.anim_menubar_out{
    animation: animBoxOut 650ms ease 1 normal forwards;
    -webkit-animation: animBoxOut 650ms ease 1 normal forwards;
}

@keyframes animBoxIn {
    100%{
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
}

@keyframes animBoxOut {
    100%{
        transform: translateX(-105%);
        -webkit-transform: translateX(-105%);
        -moz-transform: translateX(-105%);
        -ms-transform: translateX(-105%);
        -o-transform: translateX(-105%);
}
}