.header__navbtn-items{
    transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -webkit-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -moz-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -ms-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -o-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
}
.header__navbtn-Container a:nth-child(1):hover{
    background-color: var(--Red_theme_color);
    color: var(--white_text_color);
}
.header__navbtn-Container a:nth-child(2):hover{
    background-color: var(--Yellow_theme_color);
    color: var(--black_text_color);
}


.anim_Main-nav-btn__hover{
    --height-all: 150%;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: -1;
    /*default*/text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    word-spacing: 100px;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100vw;
    height: var(--height-all);
    position: absolute;
    cursor: default;
}

.Header_hover_mainLink_ENTER{
    animation: _hover_mainLink_ENTER 500ms ease-out 100ms 1 normal forwards;
    -webkit-animation: _hover_mainLink_ENTER 500ms ease-out 100ms 1 normal forwards;
}
.Header_hover_mainLink_OUT{
    animation: _hover_mainLink_OUT 500ms ease-in-out 0ms 1 normal forwards;
    -webkit-animation: _hover_mainLink_OUT 500ms ease-in-out 0ms 1 normal forwards;
}


@keyframes _hover_mainLink_ENTER {
    
    100%{
         letter-spacing: initial; 
         opacity: 1 ;
    }

}


@keyframes _hover_mainLink_OUT {
 
    100%{
        letter-spacing: 50vw; 
        opacity: 0;
   }
}

.__MainOdernowBtn{
    transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -webkit-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -moz-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -ms-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
    -o-transition: background-color 150ms ease-in 100ms , color 100ms ease-in 100ms ;
}
.__MainOdernowBtn>div:nth-child(2){
    transition: color 100ms ease-in 100ms;
    -webkit-transition: color 100ms ease-in 100ms;
    -moz-transition: color 100ms ease-in 100ms;
    -ms-transition: color 100ms ease-in 100ms;
    -o-transition: color 100ms ease-in 100ms;
}
.basket_icon path{
    transition: fill 100ms ease-in 100ms;
    -webkit-transition: fill 100ms ease-in 100ms;
    -moz-transition: fill 100ms ease-in 100ms;
    -ms-transition: fill 100ms ease-in 100ms;
    -o-transition: fill 100ms ease-in 100ms;
}

.__MainOdernowBtn:hover{
    background-color: black;

}
.__MainOdernowBtn:hover>div:nth-child(2){
    color: var(--Yellow_theme_color);

}
.__MainOdernowBtn:hover .basket_icon path{
    fill: var(--Yellow_theme_color);

}

.__plusCountOrder{
    transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -webkit-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -moz-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -ms-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -o-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
}
.__plusCountOrder:hover{
    background-color: #55DD33;
    box-shadow: -4px 2px 10px #55DD33;
}
.__plusCountOrder path{
    transition: stroke 150ms ease-in 100ms;
    -webkit-transition: stroke 150ms ease-in 100ms;
    -moz-transition: stroke 150ms ease-in 100ms;
    -ms-transition: stroke 150ms ease-in 100ms;
    -o-transition: stroke 150ms ease-in 100ms;
}
.__plusCountOrder:hover path{
    stroke:var(--white_text_color);
}



.__minussCountOrder{
    transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -webkit-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -moz-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -ms-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
    -o-transition: background-color 150ms ease-in 100ms , box-shadow 150ms ease-in 100ms ;
}
.__minussCountOrder:hover{
    background-color: #eb1d1d;
    box-shadow: 4px 2px 10px #eb1d1d;

}

.__minussCountOrder path{
    transition: stroke 150ms ease-in 100ms;
    -webkit-transition: stroke 150ms ease-in 100ms;
    -moz-transition: stroke 150ms ease-in 100ms;
    -ms-transition: stroke 150ms ease-in 100ms;
    -o-transition: stroke 150ms ease-in 100ms;
}
.__minussCountOrder:hover path{
    stroke: var(--white_text_color);
}