.mobile-app__download-app__item-container{

}

.download-app__item-container__icon path{
    fill: var(--white_text_color);
}

.mobile-app__download-app__item-container:hover .download-app__item-container__icon path{
    fill: url(#greenToWhite);
}
.mobile-app__download-app__item-container:hover .download-app__item-container__miniText,.mobile-app__download-app__item-container:hover .download-app__item-container__BoldText{
    color: greenyellow;
}

.__btn_reset{
    transition: background-color 150ms ease-in 50ms , color 100ms ease-in 100ms ;
    -webkit-transition: background-color 150ms ease-in 50ms , color 100ms ease-in 100ms ;
    -moz-transition: background-color 150ms ease-in 50ms , color 100ms ease-in 100ms ;
    -ms-transition: background-color 150ms ease-in 50ms , color 100ms ease-in 100ms ;
    -o-transition: background-color 150ms ease-in 50ms , color 100ms ease-in 100ms ;
}
.__btn_reset:hover{
    background-color: var(--black_text_color);
    color: transparent;
}
.anim_for_boxS_border_IN{
    animation: boxShad_border_IN 200ms ease  1 normal forwards;
    -webkit-animation: boxShad_border_IN 200ms ease  1 normal forwards;
}

.anim_for_boxS_border_OUT{
    animation: boxShad_border_OUT 200ms ease  1 normal forwards;
    -webkit-animation: boxShad_border_OUT 200ms ease  1 normal forwards;
}



.__social-nav__items{
    transition: background-color 300ms ease-in 50ms , color 100ms ease-in 100ms ;
    -webkit-transition: background-color 300ms ease-in 50ms , color 100ms ease-in 100ms ;
    -moz-transition: background-color 300ms ease-in 50ms , color 100ms ease-in 100ms ;
    -ms-transition: background-color 300ms ease-in 50ms , color 100ms ease-in 100ms ;
    -o-transition: background-color 300ms ease-in 50ms , color 100ms ease-in 100ms ;
}
.__social-nav__items path{
    transition: fill 150ms ease-in 50ms;
    -webkit-transition: fill 150ms ease-in 50ms;
    -moz-transition: fill 150ms ease-in 50ms;
    -ms-transition: fill 150ms ease-in 50ms;
    -o-transition: fill 150ms ease-in 50ms;
}

.__social-nav__items:hover{
    background-color: cyan;
}
.__social-nav__items:hover path{
    fill: white;
}
.__nav-footer-container__nav-text--abs-icon{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 110%;
    margin: auto 0;
    padding: 3px 0;
    background-color: var(--Red_theme_color);
    border-left: 3px solid #c9b925;
    border-right: 3px solid #c9b925;

    transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    -o-transform:translateY(-100%);

    opacity: 0;
    transition: transform 300ms ease 10ms , opacity 300ms ease 10ms;
    -webkit-transition: transform 300ms ease 10ms , opacity 300ms ease 10ms;
    -moz-transition: transform 300ms ease 10ms , opacity 300ms ease 10ms;
    -ms-transition: transform 300ms ease 10ms , opacity 300ms ease 10ms;
    -o-transition: transform 300ms ease 10ms , opacity 300ms ease 10ms;
}
.__nav-footer-container__nav-text a :hover{
    color: transparent;
}
.__nav-footer-container__nav-text a:hover .__nav-footer-container__nav-text--abs-icon{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
}

/* .__nav-footer-container__nav-text a path{
    fill: var(--Yellow_theme_color);
} */
/* #sale_path{
    fill: var(--Yellow_theme_color);

} */
.footer-nav-container__img-title__img svg{
    transition: transform 200ms ease-in 10ms;
    -webkit-transition: transform 200ms ease-in 10ms;
    -moz-transition: transform 200ms ease-in 10ms;
    -ms-transition: transform 200ms ease-in 10ms;
    -o-transition: transform 200ms ease-in 10ms;
}
.footer-nav-container__img-title__img:hover svg{
    transform: scale(5);
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    -o-transform: scale(5);
}
.__nav-footer-container__nav-text--time a:hover::before{
    content: "- ";
    font-size: inherit;
    font-family: "Poppins_SemiB";
    text-align: center;
    vertical-align: middle;
    color: #c9b925;
}
.__nav-footer-container__nav-text a{
    position: relative;
}